<!DOCTYPE html>
<html>
  <head>
    <title>Video Example</title>
  </head>
  <body>
    <h2 class="page-header">Embedded Video Example</h2>

    <!-- Use an iframe to embed the video -->
    <div style="max-width: 800px; margin: auto">
      <iframe
        width="560"
        height="315"
        src="<%= book.urlVideoDetails %>"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <p><a href="/">Back to Home</a></p>
  </body>
</html>
